
.banner {
  margin: 65px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  text-shadow: 0 0 1px black;
  text-align: center;
}
