.garage-heading {
  color: red;
  font-weight: bold;
}

.garage-car {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  margin: 30px 0;
  border-radius: 4px;
}

.garage-car img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.garage-car h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.garage-car p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.garage-car .garage-car-infos {
  padding: 16px;
  a {
    color: red;
    font-weight: bold;
    &:hover {
      color:  rgb(62, 87, 213);
    }
  }
}

.garage-car-delete {
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 10px 5px 0;
}
